<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<section>this is new about section
<h1>about page</h1>
<h2>Sub-title: Lorem ipsum dolor sit amet</h2>
<p> Content :Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi 
 molestias quis vero veniam aperiam animi nobis quidem illo molestiae?</p>
</section>




</body>
</html>